//VARIABLES //

//COLORS
$vivid-blue: #0AA9FD;
$onyx: #34363C;

$raisin-black:#1E1F22;
$granite-gray: #1E1F22;
$quick-silver: #A3A4A8;

//@MIXIN
@mixin box-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin box-shadow-init {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@mixin box-shadow-finish {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// HEADER

//MAIN

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;

    .openInputs {
        p {
            font-weight: bold;
            margin: 0;
            padding-bottom: 25%;
            padding-top: 25%;
            // text-transform: uppercase;
            text-align: left;
            text-orientation: upright;
            writing-mode: vertical-lr;
            vertical-align: middle;
        }

        background-color: rgba(54, 54, 62, 0.1);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        color: $quick-silver;
        cursor: pointer;
        height: 25vh;
        letter-spacing: .5em;
        transform: translateY(40vh);
        width: 30px;

        @include box-shadow-init();

    }

    //Animation shows better on desktop browsers
    .openInputs:hover {
        animation: opacity-change .2s ease-in;
        animation-fill-mode: forwards;
        @include box-shadow-finish();

    }

    //Better for showing ANIMATION on mobile devices. 
    .openInputs:active {
        animation: opacity-change .05s ease-in;
        animation-fill-mode: forwards;
        @include box-shadow-finish();
    }

    .sidenav {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: $quick-silver;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $onyx;
        overflow-x: hidden;
        transition: 0.2s;
        transition-timing-function: ease-in;
        padding-top: 60px;
        @include box-shadow-finish();

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $quick-silver;
            display: block;
            transition: 0.3s;

            a:hover {
                color: #f1f1f1;
            }
        }


        form {
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            input {
                border-radius: 8px;
                width: 100%;
            }

            textarea {
                border-radius: 8px;
                width: 100%;
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .btn {
            background-color: $vivid-blue;
            width: 100%;
        }



    }
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

//FOOTER

//ANIMATIONS

@keyframes opacity-change {
    0% {
        background-color: rgba(54, 54, 62, 0.1);
    }

    50% {
        background-color: rgba(54, 54, 62, 0.5);
    }

    100% {
        background-color: rgba(54, 54, 62, 1);
    }
}

//MEDIA-QUERIES