.jumbotron p {
  text-align: center; }
.jumbotron h1 {
  text-align: center; }

.sub-navigation {
  margin-left: 14%; }

.card {
  margin: 20px; }

.page-subtitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

form {
  margin: 0 15% 15% 15%; }

.red {
  width: 50%;
  background-color: red;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding: 20px; }

.green {
  width: 50%;
  background-color: green;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding: 20px; }

#css-box {
  border: 5px solid black;
  border-radius: 12px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto; }

.changeBoxColor {
  animation-name: colorChange;
  animation-duration: 4s; }

.morphBoxShape {
  animation-name: morphShape;
  animation-duration: 4s;
  transition-property: background-color;
  transition-duration: 2s; }

.morphBoxShape:hover {
  background-color: green; }

@keyframes colorChange {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue; }
  100% {
    background-color: green; } }
@keyframes morphShape {
  25% {
    width: 500px;
    height: 200px; }
  50% {
    width: 200px;
    height: 400px;
    transform: rotateX("90"); }
  100% {
    width: 200px;
    height: 200px;
    transform: rotateY("55"); } }
#div1 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

#div2 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

#div3 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: background-color 2s;
  transition: background-color 2s; }

#div1 {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-duration: 6s; }

#div2 {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-delay: .5s; }

#div3 {
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-property: background-color; }

#div1:hover {
  width: 300px; }

#div2:hover {
  width: 300px; }

#div3:hover {
  background-color: green; }

#divTran1 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

#divTran2 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

#divTran3 {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

#divTran1:hover {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

#divTran2:hover {
  -ms-transform: skewY(50deg);
  -webkit-transform: skewY(50deg);
  transform: skewY(50deg); }

#divTran3:hover {
  -ms-transform: scaleY(1.5);
  -webkit-transform: scaleY(1.5);
  transform: scaleY(1.5); }

@media screen and (max-width: 850px) {
  .sub-navigation {
    margin-left: 12%; } }

/*# sourceMappingURL=style.css.map */
